<div>
  <div *ngFor="let todo of todos" class="flex justify-between">
    <span (click)="toggleCompleted(todo.id)">
      <mat-checkbox [checked]="todo.completed" [color]="'primary'"
        ><span [class.line-through]="todo.completed">{{
          todo.task
        }}</span></mat-checkbox
      >
    </span>
    <button
      *ngIf="completedTab"
      mat-icon-button
      color="primary"
      aria-label="delete icon"
      (click)="deleteTodo(todo.id)"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <div *ngIf="completedTab" class="flex justify-end">
    <button mat-flat-button color="warn" (click)="deleteAllTodos()">
      <mat-icon>delete</mat-icon>
      delete all
    </button>
  </div>
</div>
