<mat-toolbar class="justify-center">
  <span>#todo</span>
</mat-toolbar>
<div class="container max-w-screen-md mx-auto">
  <mat-tab-group>
    <mat-tab label="All">
      <app-add-todo (newTodoItemEvent)="addTodo($event)"></app-add-todo>
      <app-todos
        [todos]="todos"
        (toggleCompletedEvent)="toggleCompletedStatus($event)"
      ></app-todos>
    </mat-tab>
    <mat-tab label="Active">
      <app-add-todo (newTodoItemEvent)="addTodo($event)"></app-add-todo>
      <app-todos
        [todos]="filterTab('active')"
        (toggleCompletedEvent)="toggleCompletedStatus($event)"
      ></app-todos>
    </mat-tab>
    <mat-tab label="Completed">
      <app-todos
        [completedTab]="true"
        [todos]="filterTab('completed')"
        (toggleCompletedEvent)="toggleCompletedStatus($event)"
        (deleteTodoEvent)="deleteTodo($event)"
      ></app-todos>
    </mat-tab>
  </mat-tab-group>
</div>
